.small
{
	display:inline-table;
	font-size:16px;
}

button
{
	font-size:14px;
}

nav
{
	background-color:#0067a3;
}

html,body
{
	height:100%;
		background-color:#0079cf;
}

.whitetext
{
	color:white;
}

.white 
{
	
	border-bottom:5px solid #eee;
	padding:5px;
	background-color:white;
	font-size:15px;
}

.white:hover
{
	background-color:green;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

#board
{
	white-space: nowrap;
	height:100%;
}

.Container
{
	padding:8px;
	min-height:200px;
}

.divclass {
  height:40%;
  border-radius:2px;
  margin:5px;
  padding:10px;
  display:inline-table;
  background-color:#eee;
	
}

.hiddentextarea {
	display:none;
}

.block
{
	display:block;
}
