
.small
{
	display:inline-table;
	font-size:16px;
}

button
{
	font-size:16px;
}

nav
{
	background-color:#0067a3;
}

html,body
{
	height:100%;
		background-color:#0079cf;
}

.whitetext
{
	color:white;
}

.white 
{
	background-color:white;
	margin-bottom:5px;
}

.white:hover
{
	background-color:green;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

#board
{
	white-space: nowrap;
}

.divclass {
  margin:5px;
  width:350px;
  padding:10px;
  overflow:auto;
  border: 1px solid #aaaaaa;
  	display:inline-table;
	background-color:#eee;
	
}

.hiddentextarea {
	display:none;
}

.block
{
	display:block;
}