.small
{
	display:inline-table;
	font-size:16px;
}

button
{
	font-size:14px;
}

nav
{
	background-color:#0067a3;
}

html,body
{
	width:100%;
	height:100%;
		background-color:#0079cf;
}

.whitetext
{
	margin:5px;
	padding-top:10px;
	color:white;
}

.white
{

	border-bottom:5px solid #eee;
	padding:5px;
	background-color:white;
	font-size:15px;
	white-space:normal;
}

.listtitle
{
	display:flex;
	justify-content:space-between;
	word-break: break-all;
}

.fixwidth
{
	width:200px;
}

.actionlist
{
  z-index:1;
  position:absolute;
  width:100px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.inlinetable
{
	display:flex;
}

.inline
{
	margin-left:5px;
	display:inline-block;
}

a:hover
{
	opacity:2;
}

.actioncard
{

}

.cardtitle
{
	word-break:break-word;
	width:250px;
	display:flex;
	justify-content: space-between;
}

.white:hover
{
	background-color:green;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

.boardtitle
{
}

.actlikebutton:hover
{
	background-color:#003366;
	border-radius:2px;
	cursor:pointer;
}

.padding5px
{
	padding:5px;
}

.just{
		justify-content: space-between;

}

#board
{
	white-space: nowrap;
	height:100%;
}

.Container
{
	min-height:50px;
	padding:8px;
}

.divclass {
  width:250px;
  border-radius:2px;
  margin:5px;
  padding:10px;
  display:inline-table;
  background-color:#eee;
  	white-space:normal;

}

.hiddentextarea {
	display:none;
}

.block
{
	display:block;
}

.modal-overlay {
	background-color: #000;
	left:0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
}

.modal {
	background-color: #f5f6f7;
	display: block;
	height: 80%;
	left: 10%;
	opacity: 1;
	top: 10%;
	width: 80%;
}

.modal-container {
	color: #17394d;
	display: grid;
	grid-gap: 25px;
	grid-template-columns: 80% 20%;
	overflow: scroll;
	padding: 2em;
}

.modal-container h3, .modal-container h5 {
	font-weight: 500;
	font-size: 18px;
}

.side-area {
	grid-area: 2/2/4/2;
}

.side-area>div {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.side-area h5 {
	color: #6b808c;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.side-area a {
	background-color: #ebeef0;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(9,45,66,.13);
	color: #17394d;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 8px;
	padding: 5px;
}

.close-modal {
	align-self: start;
	border: none;
  background: none;
  font-size: 20px;
  justify-self: end;
}

.close-modal:hover {
	background-color: #798d99;
	border-radius: 50px;
	padding: 3px 10px;
}

.opencard-description {
	background-color: #e3e7e9;
	border-radius: 3px;
	height: 55px;
}

.opencard-description a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
}

.opencard-comment textarea {
	padding: 10px;
	width: 100%;
}

.opencard-comment button {
	background-color: #ebeef0;
	border: none;
	color: #a6b3ba;
}
